ion-toolbar{
    --background: #5755FE;
    --color: white;
    text-align: center;
  }

  .otp-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  
    ion-input {
      width: 20%;
      text-align: center;
      font-size: 24px;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 10px;
    }
  }
  
  .timer {
    text-align: center;
    font-size: 18px;
    margin: 10px 0;
  }
  
  .resend-link {
    text-align: center;
    margin: 20px 0;
  
    a {
      color: #007bff;
      text-decoration: underline;
    }
  }
  