ion-toolbar {
    --background: #5755FE;
    --color: white;
    text-align: center;
}

.profile-container {
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    // margin: 20px 0;
}

.profile-card {
    // border: 1px solid red;
    background-color: #ffff;
    // width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.profile-img {
    width: 90px;
    height: 90px;
    border: 1px solid;
    border-radius: 50%;
    background-color: white;
}

.profile-info {
    margin-top: -2px;
}

.profile-info p {
    text-align: start;
}

.profile-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.profile-actions ion-button {
    // --border-color: #000;
    --border: 1px solid;
    width: 80%;
    margin-bottom: 10px;
}

.form {
    margin: 20px;
}

.form ion-input{
    margin: 0 0 12px;
}

ion-footer {
    padding: 20px 30px;
}