<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <img width="70" src="assets/icon/travelyicon.png" alt="Travely Icon"> -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="sign-in"></ion-back-button>
    </ion-buttons>
    <ion-title size="large">Lupa Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="profile-container">
    <div class="profile-card">
      <!-- <img src="/assets/profile-placeholder.png" alt="Profile Picture" class="profile-img"> -->
      <div class="profile-info">
        <p>Jangan bagikan kata sandi kepada siapapun,
          demi keamanan data anda.</p>
      </div>
    </div>
  </div>
  <div class="form">
    <ion-input label="Password Baru" label-placement="floating" fill="outline" placeholder="Password Baru"></ion-input>
    <ion-input label="Konfirmasi Password Baru" label-placement="floating" fill="outline" placeholder="Konfirmasi Password Baru"></ion-input>
  </div>
</ion-content>

<ion-footer [translucent]="true">
  <ion-button id="present-alert" type="submit" expand="block" shape="round">Simpan</ion-button>
</ion-footer>
