ion-toolbar{
    --background: #5755FE;
    // padding:0 50px 0 50px;
  }
  
  #container {
    padding: 20px;
    text-align: center;
    }
    
    #container a {
      text-decoration: none;
      left: 100px;
    }

    #container h1{
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    
    #container img {
      margin: -8rem auto;
    }
    
    #container #submit {
      margin-top: 20px;
    }
    
    #container #form-input {
      color: black;
      background-color: white;
      box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
      margin: 20px;
      padding: 15px;
    }

    #container #form-input .calendar{
      // margin: 20px;
      text-align: start;
      // padding: 15px;
    }

    ion-item {
      margin-bottom: 15px;
    }
    
    ion-button a{
      margin-top: 20px;
      color: white;
    }

    ion-card {
      position: relative;
      margin: 20px;
    }

    .swiper {
      background-color: #fff;
      // margin: 40px 0 -10px 0;
      }
      
      swiper-container {
      // background-color: tomato;
      display: flex;
      // position:relative ;
      
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
      // width: 10%;
      height: 120px;      
      margin: 5px 0;
      padding: 10px 0;
    
      font-size: 18px;
    
      text-align: center;
      box-sizing: border-box;
      --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, #cccccc);
      --swiper-pagination-color: var(--ion-color-primary, #0054e9);
    }

    swiper-slide {
      // background-color: #cccccc;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 50px;
    }

    .modal-calendar {
      --background: rgba(44, 39, 45, 0.2);

      &::part(content) {
        backdrop-filter: blur(6px);
      }

      ion-content {
        --background: transparent;

        --padding-top: 25vh;
        --padding-start: 20px;
        --padding-end: 20px;
      }
       ion-datetime {
        border-radius: 8px;
       }
    }

    .selected {
      color: blue; /* Ubah ini ke warna atau gaya yang diinginkan */
      font-weight: bold;
    }
    
    // swiper-slide img {
    //   width: auto;
    //   max-width: 100%;
    //   height: auto;
    //   max-height: 100%;
    // }
  
    // swiper-container {
    //   // background-color: tomato;
    //   width: 100%;
    //   height: 100%;
    //   padding: 10px 0 10px 0;
    //   --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, #cccccc);
    //   --swiper-pagination-color: var(--ion-color-primary, #0054e9);
    // }