// ion-tab-bar {
//     --background: #5755FE;
//     --color: white;
// }

ion-tabs{
    ion-tab-bar {
        --background: var(--ion-color-primary);
        ion-tab-button{
            --color: var(--ion-color-light);
            --color-selected: var(--ion-color-dark);
            // ion-icon{
            //     font-size: 1.5rem;
            // }
            ion-label {
                color: white;
            }
        }
    }
}
